.about {
    padding: 10rem 0;
    background: $off-white;

    .about__content {
        width:50%;
        float:right;

        @media (max-width:700px) {
            clear:both;
            margin-right:10%;
            width:80%;
            text-align:center;
        };
    };
};


