.contact {
    padding: 10rem 0;
    background: $off-white;
    min-height:100vmin;

    .contact__wrapper {
        @media (max-width:768px) {
            display:flex;
            flex-direction: row-reverse;
        }

        @media (max-width:575px) {
            flex-direction: column-reverse;
        }
    }

    .contact__form {
        width:60%;
        float:right;

        @media (max-width: 768px) {
            margin-left:10px;
        }

        @media (max-width:575px) {
            width:100%;
        };
        
        input {
            width: 50%;
            padding:10px 15px;
            border:none;

            @media (max-width:500px) {
                width:100%;
            }
        };

        .contact__email {
            width:calc(50% - 1.2rem);
            float:right;
            margin-left:$s-size;
            border:none;

            @media (max-width:500px) {
                width:100%;
                margin-top:$s-size;
            }
        };

        textarea, button {
            width:100%;
            margin-top:$s-size;
            border:none;
        };

        textarea {
            resize:none;
            height:150px;
            padding:10px 15px;
        };

        button {
            background: $pink;
            padding:5px;
            font-family: $headingFont;
            font-size:$m-size;
            text-transform:uppercase;
        }
    };

    .aside__content {
        width:30%;
        float:right;
        margin-right:10rem;
        background: $white;
        padding: $m-size 0 $m-size $l-size;

        @media (max-width:1192px) {
            margin-right:$xl-size;
        }

        @media (max-width: 768px) {
            width:40%;
            margin:0 0 $s-size 0;
            display:flex;
        }

        @media (max-width: 575px) {
            width:100%;
            margin-left:$s-size;
        };

        .aside__content__social {
            @media (max-width:768px) {
                display:flex;
                flex-direction: column;
                margin-top:$s-size;
                margin-right:$s-size;
            };

            @media (max-width:575px) {
                margin-left:23%;
            }
        }

        a {
            color: $navy-blue;
            font-size: $m-size;
            margin-right: $s-size;
        };

        p {
            margin:0;
            &:first-child {
                margin-top:$s-size;
            };
        };
    };
};